<!-- 子页面主体区域 -->
<div class="module">
	<div class="main">
		<h2>橘子创想文化传播公司受邀参加4·26知识产权宣传周主题活动论坛</h2>

		<p>4月25日，青岛市举办4·26知识产权宣传周主题活动——“以知识产权服务业发展促高价值专利运营”论坛。来自全市知识产权管理系统、知识产权服务机构和企事业单位人员200余人参加了论坛活动。</p>
		<p>此次论坛是由青岛市知识产权局承办。以建设国家知识产权服务业集聚发展试验区为抓手，培训和引进一批高端知识产权服务机构，为高校、科研院所和企业提供专业化、系统化、链条式的服务，实现全市优质服务资源与创新主体的深度对接，不断提高发展的效益和质量，提升城市创新品质和发展潜力，加快推进创新型国际城市建设。</p>
		<p>其中，橘子创想文化传播有限公司作为优秀企业被邀请参与本次会议。创始人嘉伟老师上台发言，就“橘子创想公司专利价值评估、知识产权保护、专利运营、企业专利战略”等方面，做了相关报告。</p>
		<div class="center">
			<img src="images/news/news17-1.png" alt="知识产权宣传周主题活动论坛">
		</div>
		<p>
		嘉伟老师讲道：“橘子创想作为一家情感服务企业，从成立之初，便十分注重产权保护与运营。经过多年发展，橘子情感这一品牌已成为行业内的高价值典范。
		</p>
		<p>
		公司能取得今天的成就，一是紧随时代发展，重视文化产业规范化建设，制定了长期品牌发展战略。二是通过专业优质服务，在用户中积攒了大量良好口碑，赢得了消费者的信任。以产权为依托，品牌带动盈利，实现服务性专利突破。三是公司在企业文化建设方面始终没有松懈，注重产权保护，也严格遵守各法律法规，保障公司在正确的道路上稳步发展。”
		</p>
		<div class="center">
			<img src="images/news/news17-2.png" alt="知识产权宣传周主题活动论坛" />
		</div>
		<p>
		此外，嘉伟老师就保护青年创新企业的产权保护建设、服务业知识产权法规制定等方面，提出建议，获得了参会人员的肯定。
		</p>
	</div>
</div>
<!-- /子页面主体区域 -->
