<div class="module">
    <div class="main">
			<h2>橘子情感公益活动之《将爱传递每个角落》</h2>

			<p>
			橘子情感自创立至今，曾组织参与过多项公益活动，恰逢乍暖还寒的春季，橘子情感开启了慰问福利院孤独老人的公益活动——“将爱传递每个角落”。
			</p>
			<p>
			青岛福利院是民政部门设立的社会福利事业单位，收养了很多城镇丧失劳动能力、无依无靠、无生活来源的孤老人群。
			</p>
			<p>
			这些孤老人群大多膝下并无儿女抚养，和“空巢老人”并无区别，是整个社会都需要关注的弱势群体，每个人都应该为他们送去温暖和爱。带着传递爱的信念，橘子情感的创始人嘉伟老师带领众多精英代表们向福利院出发。
			</p>
			<div class="center">
				<img src="images/news/news18-2.png" alt="橘子情感公益活动" />
			</div>
			<p>
			为了让老人们感受到温暖的心意，大家特意准备了一些迎合季节的印花T恤，暖心礼物，日常用品，还准备了一些暖心的节目，和老人互动的话题等，让老人们深切感受到来自社会的“孝心”。
			</p>
			<p>
			抵达福利院后，大家热心的帮助老人们换衣服、量血压、测血糖，了解他们的日常生活和身体健康情况。有的陪老人话家常、给老人的房间打扫卫生，让他们被温暖包围。
			</p>
			<div class="center">
				<img src="images/news/news18-3.png" alt="橘子情感公益活动" />
			</div>
			<p>
			老人们在大家的关爱下，露出了慈祥的笑脸，展开了热情的交流，王阿姨笑着说“多亏了政府的支持和鼓励，以及你们这些爱心人士对我们的关爱，你们的举动让我们倍感温暖！”
			</p>
			<div class="center">
				<img src="images/news/news18-4.png" alt="橘子情感公益活动" />
			</div>
			<p>
			橘子情感的创始人嘉伟称，“叔叔阿姨们性格都乐观开朗，和我们想象中不太一样，这和政府的政策和社会的关注度有着密不可分的联系，我们热情待他们，他们会把我们当儿女一般看待，那种开心和幸福真的是发自内心的，令我们很感动，同时更觉得不虚此行....”
			</p>
			<p>
			作为情感行业的领军企业，橘子情感的代表人员都有着丰富的情感分析指导能力，对此也能够帮助促进和老人们的沟通，引导他们倾诉自己的感受和年轻时期的故事，氛围越来越融洽。
			</p>
			<p>
			交谈过后，大家开始了做游戏的互动环节，老人们热情的载歌载舞，以表示对大家的欢迎和感谢之情，看着他们发自内心的笑容，橘子情感的导师们都被这种温情的画面所感染，一同唱起了歌，跳起了舞，这热闹的场面就像逢年过节一般。
			</p>
			<div class="center">
				<img src="images/news/news18-5.png" alt="橘子情感公益活动" />
			</div>
			<p>
			欢声笑语过后，橘子情感的代表人员临走前，叔叔阿姨们表现出了依依不舍之情，热情的要求大家一起合影留念，画面定格在最幸福的瞬间，老人们亲切的挽住大家的手臂，同时福利院院长对橘子情感做出的义工善举表示由衷感谢。
			</p>
			<div class="center">
				<img src="images/news/news18-1.png" alt="橘子情感公益活动">
			</div>
			<p>
			橘子情感一直秉承以“改变社会为己任”的态度，用实际行动去呼吁爱，传递爱，多年来尽我们的绵薄之力为公益事业做贡献。
			</p>
			<p>
			尊老、爱老、敬老向来是中华民族的传统美德，社会的每一个人都有责任将这种精神发扬光大，社会的共同责任，需要我们每一个人去实践执行。
			</p>
    </div>
</div>
